@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sora';
    font-weight: 200;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Sora';
    font-weight: 200;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-ExtraLight.ttf) format('truetype');
}


@font-face {
    font-family: 'Sora';
    font-weight: 300;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Sora';
    font-weight: 400;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Sora';
    font-weight: 500;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-Medium.ttf) format('truetype');
}


@font-face {
    font-family: 'Sora';
    font-weight: 600;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-SemiBold.ttf) format('truetype');
}


@font-face {
    font-family: 'Sora';
    font-weight: 700;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Sora';
    font-weight: 800;
    font-style: normal;
    src: local('Sora'), url(../assets/fonts/Sora-ExtraBold.ttf) format('truetype');
}


body {
    overflow-y: scroll;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
    display: none;
}